* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100vh;
	background: url('images/background.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Positioning the elements of the website. */
.container {
	width: 100%;
	height: 440px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.card {
	margin: 20px 40px;
	width: 300px;
	height: 400px;
	position: relative;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}
.card .thumb {
	height: 80%;
	width: 30%;
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translate(50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.card .thumb li {
	background:rgba(255, 255, 255, 0.5);
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(4px);
	list-style: none;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 10px;
}
.card .thumb li img {
	width: 100%;
	height: auto;
}
.card .thumb li:hover img {
	animation: animate1 1s linear infinite;
}
@keyframes animate1 {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.card .imgBox {
	position: absolute;
	height: 100%;
	width: 85%;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 0px 60px;
	align-items: center;
}
.card .imgBox .sizes {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.card .imgBox > h2 , ul {
	flex: 25%;
}
.card .imgBox h2 {
	color: white;
	font-size: 30px;
	color: #888;
	text-transform: capitalize;
	letter-spacing: 3px;
}
.card .imgBox .image_box {
	text-align: center;
	flex: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.card .imgBox .image_box img {
	max-width: 80%;
	transition: all 0.5s ease;
}

.card .imgBox .image_box:hover img {
	transform: translate(10px, -20px) rotate(-30deg) scale(1.2);
}
.card .imgBox .sizes .size_numbers {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.card .imgBox a {
	position: absolute;
	top: 100%;
	transform: translateY(-50%);
}

/* Sizes */
.card .imgBox .sizes h3 {
	color: #888;
	font-size: 25px;
}
.card .imgBox .sizes .size_numbers span {
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	background: #fff;
	border-radius: 6px;
	font-weight: bold;
	color: #777;
	cursor: pointer;

	transition: all 0.2s ease;
}
.card .imgBox .sizes .size_numbers span:hover {
	background: #9bdc28;
}
.card .imgBox a {
	display: block;
	color: #888;
	padding: 20px 40px;
	background: white;
	text-decoration: none;
	border-radius: 30px;
	font-size: 20px;
	color: green;
	font-weight: bold;
	transition: all 0.2s ease;
}
.card .imgBox a:hover {
	color: orange;
	transform: scale(1.1) translateY(-50%);
}
